[submodule "libs/expected"]
	path = libs/expected
	url = https://github.com/TartanLlama/expected.git
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "glfw"]
	path = glfw
	url = ./libs/glfw
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
